# Editor settings
.vscode/

# Cache
artefact/classifier/__pycache__

# Script results
artefact/scraper/online-valid.json
artefact/scraper/results.json
artefact/scraper/success.csv
artefact/scraper/summary.json
