[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
matplotlib = "*"
pandas = "*"
seaborn = "*"
tqdm = "*"
tldextract = "*"
editdistance = "*"
wordninja = "*"
httplib2 = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.10"
